FLASK_APP = 'wsgi.py'
FLASK_ENV = 'development'
SECRET_KEY = 'Your secret key'
DATABASE_URL ='postgresql://username:password@localhost:5432/database_name' // Example URI of a PostgreSQL
API_KEY = 'Your API key'
DEBUG = True
TESTING = True