{% extends "layout.html" %}

{% block pagestyles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/info.css')}}">
{% endblock %}

{% block title %} {{ movie_info['title'] }} Reviews - Moviebia {% endblock %}

{% block body %}
    <div class="d-flex flex-column container-fluid" id="movieStyle">
        <div class="divTextStyle">
            <h1 style="text-align: center;" class="text-white"> {{ movie_info['title'] }} </h1>
        </div>
        <div class="d-flex flex-column">
            <div class="row">
                <img src="http://image.tmdb.org/t/p/w300/{{ movie_info['backdrop_path']}}" class="image_center" onerror="this.src='https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg';">
            </div>
            <div class="card" style="width: 50%; align-self: center;">
                <div class="card-body">
                    <h5 class="card-title text-center">Overview</h5>
                    <p class="card-text">{{ movie_info['overview'] }}</p>
                </div>
            </div>
        </div>

        <h3 style="text-align: center;" class="text-white">User reviews</h3>

        <form id="review" action="{{ url_for('main_bp.movie', movie_id=movie_info['id'], movie_title=movie_info['title']) }}" method="post" class="text-center border border-light p-5" style="width: 900px; align-self: center; height: 200px;">
            {{ form.csrf_token }}
            <fieldset> {{ form.rating(class="form-control mr-sm-2") }} </fieldset>
            <fieldset> {{ form.text(class="form-control mr-sm-2", placeholder="Type your review here") }} </fieldset>
            {{ form.submit(class="btn btn-outline-success btn-rounded btn-sm my-0 mt-2 mb-5 text-right") }}
        </form>
        <hr>

        {% for review in reviews %}
            <div class="card bg-light border-dark mb-3 row" style="align-self: center; width: 900px;">
                <div class="card-header"> <h4> Username: {{ review.author }}</h4></div>
                <div class="card-body">
                    <h5 class="card-title"> Grade: {{ review.rating }} </h5>
                    <p class="card-text"> {{ review.text }} </p> 
                    <span id="time"> Review Date: {{ review.timestamp.strftime('%m-%d-%Y') }} </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
