{% extends "layout.html" %}

{% block pagestyles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/search.css')}}">
{% endblock %}

{% block title %} Movie Reviews - Moviebia {% endblock %}

{% block body %}
<div id="header">
    <h1>Search Engine <form action="{{ url_for('auth_bp.logout') }}" style="float: right"><button class="btn btn-outline-warning mb-3 btn-sm">Log out</button></form></h1>
</div>

<div id="alert">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor%}  
</div>

<div id="content">
    <h5> Search your favorite movie here</h5>
    <form action="{{ url_for('main_bp.search') }}" method="post" class="form-inline text-center">
        {{ form.csrf_token }}
        
        <fieldset>
            {{ form.query(class="form-control mr-2", placeholder="Enter movie title") }}
        </fieldset>

        {{ form.submit(class="btn btn-warning btn-sm") }}
    </form>

    <div id="copyright">
        <p> Copyright @ 2020 Tu Vu, Duong Nguyen, University of Texas at Dallas </p>
        <p> All rights reserved </p>
    </div>
</div>
{% endblock %}
