* {
	  margin: 0;
    padding: 0;
    font-family: sans-serif;
 }

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); 

  /* full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 150px;

}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}

.button-box {
  width: 320px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;  
}

.toggle-btn{
  padding: 20px 45px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  outline-color: white;
  position: relative;
}

#buttonContainer{
  top: 0;
  left: 0;
  position: absolute;
  width: 210px;
  height: 100%;
  background: linear-gradient(to right, #00b4db, #0083B0);
  border-radius: 30px;
  transition: .5s;
}

.input-style{
  top: 130px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  margin: auto;
  cursor: pointer;
  display: block;
  background: linear-gradient(to right, #00b4db, #0083B0);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box{
  margin: 30px 10px 20px 0;
}

span{
  color: #777;
  font-size: 12px;
  bottom: 62px;
  left: 21px;
  position: absolute;
}

#login{
  left: 50px;
}

#register{
  left: 450px;
}

h2{
  text-align: center;
}

button:focus {
  outline:none;
  box-shadow: none;
}