{% extends "layout.html" %}

{% block header%}
    Welcome to Our Channel!
{% endblock %}

{% block body %}
<div class="bg">
        <div class="form-box">
            <div class="button-box">
                <div id="buttonContainer"> </div>
                <button type="button" class="toggle-btn" onclick="login()"> Login </button>
                <button type="button" class="toggle-btn" onclick="register()"> Registration </button>
            </div>
            <form action="{{ url_for('search') }}" method="post" id= "login" class="input-style">
                <h2> Sign In </h2>
                <input type="text" class="input-field" placeholder="User Name" required="">
                <input type="text" class="input-field" placeholder="Enter password" required="">
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <button type="submit" class="submit-btn"> login </button> 
            </form>
            <form id= "register" class="input-style">
                <h2> Sign Up </h2>
                <input type="text" class="input-field" placeholder="User Name" required="">
                <input type="email" class="input-field" placeholder="Email" required="">
                <input type="text" class="input-field" placeholder="Enter password" required="">
                <input type="checkbox" class="check-box"><span>I agree to the terms and conditions</span>
                <button type="submit" class="submit-btn"> Register </button> 
            </form>
        </div>
    </div>

<script>
    var a = document.getElementById("login");
    var b = document.getElementById("register");
    var c = document.getElementById("buttonContainer");

    function register(){
        a.style.left = "-400px";
        b.style.left = "50px";
        c.style.left = "110px";
    }

    function login(){
        a.style.left = "50px";
        b.style.left = "450px";
        c.style.left = "0";
    }

</script>
{% endblock %}
