{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="form-wrapper">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor%}

        <form action="{{ url_for('login') }}" method="post" id="login" class="auth-inner">
            <h3>Sign In</h3>
            {{ form.csrf_token }}

            <fieldset class="form-group email">
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder='youremail@example.com') }}
                {% if form.email.errors %}
                    <ul class="errors" style="color: red">
                        {% for error in form.email.errors %}
                            <li>{{  error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>  

             <fieldset class="form-group password">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder='Enter password') }}
                {% if form.password.errors %}
                    <ul class="errors" style="color: red">
                        {% for error in form.password.errors %}
                            <li>{{  error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>  

            {{ form.submit(class="btn btn-primary btn-block") }}
   
            <small id="emailHelp" class="form-text text-muted">Don't have an account? <a href="{{ url_for('signup') }}">Sign up.</a></small>
        </form>
    </div>
</div>
{% endblock %}
