{% extends "layout.html" %}

{% block header%}
    {{ movie_info['title'] }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="http://image.tmdb.org/t/p/w300/{{ movie_info['backdrop_path']}}">
            </div>
            <div class="col">
                <h2>Overview</h2>
                <p>{{ movie_info['overview'] }}</p>
            </div>
        </div>

        <h3 style="text-align: left">User reviews</h3>

        <form id="review" action="{{ url_for('movie', movie_id=movie_info['id'], movie_title=movie_info['title']) }}" method="post">
            {{ form.csrf_token }}
            
            <fieldset>
                {{ form.rating(class="form-control mr-sm-2") }}
            </fieldset>

            <fieldset>
                {{ form.text(class="form-control mr-sm-2", placeholder="Type your review here") }}
            </fieldset>
            {{ form.submit(class="btn btn-outline-success btn-rounded btn-sm my-0 mt-2 mb-5 text-right") }}
        </form>

        {% for review in reviews %}
            <h4>{{ review.author }}</h4>
            <p class="text-info">{{ review.rating }}</p>
            <p> {{ review.text }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
