{% extends "layout.html" %}

{% block header%}
    Here are all the results
{% endblock %}

{% block body %}
    {% if results %}
        <table class="table table-bordered" style="background-color: #D8BFD8">
            <thead class="text-white" style="background-color: #212121">
            <tr>
                <th>Poster</th>
                <th>Title</th>
                <th>Metascore</th>
                <th>Released Date</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td><img src="http://image.tmdb.org/t/p/w185/{{ result['poster_path'] }}"></td>
                    <td><a href="{{ url_for('movie', movie_id=result['id'], movie_title=result['title']) }}">{{ result['title'] }}</a></td>
                    <td>{{ result['vote_average'] }}</td>
                    <td>{{ result['release_date'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- <a href="{{ url_for('logout') }}" style="font-size: 30px">Sign out</a> -->
    {% else %}
        <p>Sorry, No results found!</p>
    {% endif %}
{% endblock %}
