{% extends "layout.html" %}

{% block header%}
	 
{% endblock %}

{% block body %}
 	<div class="d-flex flex-container container-fluid">
    <div class="p-2 bg-black text-white flex-wrap align-items-stretch" style="height: 100px">
    		<h1 class="text-uppercase font-weight-bold" style="text-align:center">Search Engine</h1>
	  </div>
	<div class="p-2 div1 flex-grow-1 flex-wrap ">
    <form class=" form-inline md-form mr-auto mb-4 center container" action="{{ url_for('movies') }}" method="post">
    	<h5 class="text-uppercase font-weight-bold text-white"> Search your favorite movie here </h5>
        <input class="form-control mr-sm-2" type="text" name="title" placeholder="Enter your movie">
        <input type="submit" class="btn btn-outline-warning btn-rounded btn-sm my-0" value="Search">
    </form>
	</div>
    <div class="p-2 bg-black text-white flex-wrap align-items-stretch" style="height: 100px">
    	 	<p style="text-align:center"> Copyright @ 2020 Tu Vu, Duong Nguyen, University of Texas at Dallas<br></p>
    	 	<p style="text-align: center"> All rights reserved </p>
    </div>
  	</div>
{% endblock %}
