{% extends "layout.html" %}

{% block body %}
 	<div class="d-flex flex-container container-fluid">
    <div class="p-2 bg-black text-white flex-wrap align-items-stretch" style="height: 100px">
    		<h1 class="text-uppercase font-weight-bold" style="text-align:center">Search Engine</h1>
	</div>
	<div class="p-2 div1 flex-grow-1 flex-wrap ">
        <div class="formwrapper">
            <form class=" form-inline md-form mr-auto mb-4 center container" action="/search" method="post">
                <div class="form-field">{{ form.query }}</div>
                {{ form.submit }}
            </form>
        </div>
	</div>

    <a href="{{ url_for('logout') }}" style="font-size: 30px">Sign out</a>

    <div class="p-2 bg-dark text-white flex-wrap align-items-stretch" style="height: 100px">
    	 	<p style="text-align:center"> Copyright @ 2020 Tu Vu, Duong Nguyen, University of Texas at Dallas<br></p>
    	 	<p style="text-align: center"> All rights reserved </p>
    </div>
  	</div>
{% endblock %}
