{% extends "layout.html" %}

{% block body %}
<div id="header">
    <h1>Search Engine</h1>
</div>

<div id="content">
    <h5> Search your favorite movie here </h5>
    <form action="{{ url_for('search') }}" method="post" class="form-inline text-center">
        {{ form.csrf_token }}
        
        <fieldset>
            {{ form.query(class="form-control mr-2", placeholder="Enter movie title") }}
        </fieldset>

        {{ form.submit(class="btn btn-warning btn-sm") }}
    </form>

    <!-- <a href="{{ url_for('logout') }}" style="font-size: 30px">Sign out</a> -->
    <div id="copyright">
        <p> Copyright @ 2020 Tu Vu, Duong Nguyen, University of Texas at Dallas </p>
        <p> All rights reserved </p>
    </div>
</div>
{% endblock %}
